[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "<=5.7.0"
nose = "*"
docutils = "*"
requests-mock = "*"
mock = {markers="python_version < '3.5'"}
coverage = "*"

[scripts]
tests = "python setup.py nosetests"
