[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[dev-packages]
ipython = "<8.11.0"
docutils = "*"
coverage = "*"
pylint = "*"
requests-mock = "<=1.5.2"
pytest-cov = "*"
pytest = "*"

[packages]
marshmallow = ">3, <=3.26.1"
requests = ">=2.32.0"
mock = "*"
setuptools = ">=70.0.0"

[scripts]
tests = "pytest"
citests = "pytest --cov-report=xml"
